aiohttp==3.6.2
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
cffi==1.13.2
chardet==3.0.4
Django==3.0.3
greenlet==0.4.13
idna==2.8
idna-ssl==1.1.0
multidict==4.7.3
pytz==2019.3
readline==6.2.4.1
sqlparse==0.3.0
typing-extensions==3.7.4.1
yarl==1.4.2
